* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, ul, input, textarea {
 margin: 0;
 padding: 0;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
:root {
    --clr-main: #Efb810;
    --clr-white: #ececec;
    --clr-grey: #e2e2e2;
    --clr-red: #961818;
}